# Bundles

[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/syntatstic"]
	path = bundle/syntatstic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-ripgrep"]
	path = bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"] # Snipmate
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tlib_vim"] # Snipmate requirement
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"] # Snipmate requirement
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-test"]
	path = bundle/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule "bundle/vim-rubocop"]
	path = bundle/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git

# Syntax highlighting
[submodule "lang/vim-angular"]
	path = lang/vim-angular
	url = https://github.com/burnettk/vim-angular.git
[submodule "lang/vim-coffee-script"]
	path = lang/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "lang/csv.vim"]
	path = lang/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "lang/vim-git"]
	path = lang/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "lang/vim-golang"]
	path = lang/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "lang/vim-haml"]
	path = lang/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "lang/vim-javascript"]
	path = lang/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "lang/vim-less"]
	path = lang/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "lang/vim-markdown"]
	path = lang/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "lang/vim-ruby-minitest"]
	path = lang/vim-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest.git
[submodule "lang/vim-rails"]
	path = lang/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "lang/vim-rspec"]
	path = lang/vim-rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "lang/vim-ruby"]
	path = lang/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "lang/scss-syntax.vim"]
	path = lang/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "lang/vim-slim"]
	path = lang/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "lang/vim-node"]
	path = lang/vim-node
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "lang/textile.vim"]
	path = lang/textile.vim
	url = https://github.com/timcharper/textile.vim.git
[submodule "lang/rust.vim"]
	path = lang/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "lang/VimClojure"]
	path = lang/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "lang/elm.vim"]
	path = lang/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "lang/vim-phoenix"]
	path = lang/vim-phoenix
	url = https://github.com/avdgaag/vim-phoenix.git
[submodule "lang/vim-elixir"]
	path = lang/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "lang/Dockerfile"]
	path = lang/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "lang/swift.vim"]
	path = lang/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "bundle/git-blame"]
	path = bundle/git-blame
	url = https://github.com/zivyangll/git-blame.vim.git
[submodule "lang/vim-json"]
	path = lang/vim-json
	url = https://github.com/elzr/vim-json.git
